<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="col-xs-6">
        <h2 class="text-center">{{superPerson.name}}</h2>
        <img class="img-responsive center-block" src="{{superPerson.largeImageUrl}}" />
        <p>{{superPerson.description}}</p>
      </div>

      <div class="col-xs-6">
        {{#if ratings.length}}
        <h3 class="text-center">Super Person Ratings</h3>

        <div id="ratings-bar-graph">

        </div>
        <script>
          const ratings = JSON.parse(decodeURIComponent("{{{ratingsJson}}}"));
        </script>

        <script src="/scripts/bar_graph.js"></script>

        {{/if}}
      </div>

    </div>
  </div>
</div>

{{#if user}}
  <div class="row">
    <div class="col-xs-10">
      <form action="/superpeople/{{superPerson._id}}" method="post">
        <h4>Your Super Ratings</h4>
        {{#each user.vote as |vote|}}
        <div class="form-group">
          <div class="row">
            <div class="col-xs-2">
              <label>{{vote.type}}</label>
            </div>

            <div class="col-xs-2">
              <input name="voteRatings[{{vote.type}}]" class="slider-rating" id="slider-{{vote.type}}" type="text"
                data-slider-min="0"
                ata-slider-max="10"
                data-slider-step="1"
                data-slider-value="{{vote.rating}}"
                data-slider-ticks="[0,1,2,3,4,5,6,7,8,9,10]"
                data-slider-ticks-labels="[0,1,2,3,4,5,6,7,8,9,10]"
              />
            </div>
          </div>
        </div>
        {{/each}}

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <script src="/scripts/sliders.js"></script>
{{/if}}
