<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="col-xs-6">
        <h2 text="text-center">{{superPerson.name}}</h2>
        <img src="{{superPerson.largeImageUrl}}" />
        <p>{{superPerson.description}}</p>
      </div>

      <div class="col-xs-6">
        <h3 class="text-center">Super Person Ratings</h3>

        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            {{#if superPerson.rating.intelligence}} style="width:{{superPerson.rating.intelligence}}%" {{else}} style="width:50%"{{/if}}>
            <p>
              Intelligence Rating
            </p>
            <span class="sr-only"></span>
          </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            {{#if superPerson.rating.strength}} style="width:{{superPerson.rating.strength}}%" {{else}} style="width:50%"{{/if}}>
            <p>
              Strength Rating
            </p>
            <span class="sr-only"></span>
          </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            {{#if superPerson.rating.speed}} style="width:{{superPerson.rating.speed}}%" {{else}} style="width:50%"{{/if}}>
            <p>
              Speed Rating
            </p>
            <span class="sr-only"></span>
          </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            {{#if superPerson.rating.durability}} style="width:{{superPerson.rating.durability}}%" {{else}} style="width:50%"{{/if}}>
            <p>
              Durability Rating
            </p>
            <span class="sr-only"></span>
          </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            {{#if superPerson.rating.energy}} style="width:{{superPerson.rating.energy}}%" {{else}} style="width:50%"{{/if}}>
            <p>
              Energy Projections Rating
            </p>
            <span class="sr-only"></span>
          </div>
        </div>

        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            {{#if superPerson.rating.like}} style="width:{{superPerson.rating.like}}%" {{else}} style="width:50%"{{/if}}>
            <p>
              Likeability Rating
            </p>
            <span class="sr-only"></span>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

{{#if user}}
  <div class="row">
    <div class="col-xs-12">
      <form action="/superpeople/{{superPerson._id}}" method="post">
        <h4>Please Enter Super hero Ratings</h4>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-2">
              <label for="intelligence">Intelligence 1 - 10</label>
            </div>

            <div class="col-xs-2">
              <input type="text" class="form-control" name="rating[intelligenceRating]" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-2">
              <label for="strength">Strength 1 - 10</label>
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" name="rating[strengthRating]" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-2">
              <label for="speed">Speed 1 - 10</label>
            </div>

            <div class="col-xs-2">
              <input type="text" class="form-control" name="rating[speedRating]" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-2">
              <label for="durability">Durability 1 - 10</label>
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" name="rating[durabilityRating]" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-2">
              <label for="energy">Energy Proj 1 - 10</label>
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" name="rating[energyProjectionRating]" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-2">
              <label for="likeability">Likeability 1 - 10</label>
            </div>

            <div class="col-xs-2">
              <input type="text" class="form-control" name="rating[likeabilityRating]" />
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
{{/if}}
