<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="col-xs-6">
        <h2 text="text-center">{{superPerson.name}}</h2>
        <img src="{{superPerson.largeImageUrl}}" />
        <p>{{superPerson.description}}</p>
      </div>

      <div class="col-xs-6">
        <h3 class="text-center">Super Person Ratings</h3>

        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            {{#if superPerson.rating.intelligence}} style="width:{{superPerson.rating.intelligence}}%" {{else}} style="width:50%"{{/if}}>
            <p>
              Intelligence Rating
            </p>
            <span class="sr-only"></span>
          </div>
        </div>

        <!-- <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            {{#if superPerson.rating.strength}} style="width:{{superPerson.rating.strength}}%" {{else}} style="width:50%"{{/if}}>
            <p>
              Strength Rating
            </p>
            <span class="sr-only"></span>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>

{{#if user}}
  <div class="row">
    <div class="col-xs-12">

      <form action="/superpeople/{{superPerson._id}}" method="post">
        <h4>Please Enter Super hero Ratings</h4>
        <div class="form-group">
          <div class="row">

            <div class="col-xs-2">
              <label>Intelligence</label>
            </div>

            <div class="col-xs-2">
              <input name="rating[intelligence]" id="slider-intelligence" type="text"
                data-slider-min="0"
                ata-slider-max="10"
                data-slider-step="1"
                data-slider-value="5"
                data-slider-ticks="[0,1,2,3,4,5,6,7,8,9,10]"
                data-slider-ticks-labels="[0,1,2,3,4,5,6,7,8,9,10]"
              />
            </div>
          </div>
        </div>

        <!-- <div class="form-group">
          <div class="row">
            <div class="col-xs-2">
              <label>Strength</label>
            </div>
            <div class="col-xs-2">
              <input name="rating[strength]" id="slider-strength" type="text"
                data-slider-min="0"
                ata-slider-max="10"
                data-slider-step="1"
                data-slider-value="5"
                data-slider-ticks="[0,1,2,3,4,5,6,7,8,9,10]"
                data-slider-ticks-labels="[0,1,2,3,4,5,6,7,8,9,10]"
              />
          </div>
        </div> -->

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <script src="/scripts/sliders.js"></script>
{{/if}}
